@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@600;700;800;900&display=swap");


span{
  @apply ml-10
}

:root {
    --blue: #0077b6;
    --white: #f8f9fa;
    --grey: #adb5bd;
    --black1:#343a40;
    --black2:#212529;
    --coquelicot: #D9BEFF;
    --purple: rgb(179,125,255);
    --yellow: rgb(255,242,155);
    --pink: #ffe2f3;
    --green: #76f7ae;
    --lightblue: #d6faff;
    --background-color: #fffbee;
    /* -------- Spacing -------- */
      --section-padding: 10px;
  /* -------- Typography -------- */
  --fs-1: 4rem;
  --fs-2: 3rem;
  --fs-3: 2.5rem;
  --fs-4: 2rem;
  --fs-5: 1.8rem;
  --fs-6: 0.9rem;
  
  --fw-900: 900;
  --fw-800: 800;
  --fw-700: 700;
  --fw-500: 500;
   /* -------- Shadow -------- */
  
  --shadow-1: 0 0 20px var(--black_10);
  --shadow-2: 0px 10px 24px var(--coquelicot_20);
  
   /* -------- Border Radius -------- */
  
  --radius-25: 25px;
  --radius-13: 13px;
  --radius-10: 10px;
  --radius-15: 15px;
  
   /* -------- Transition -------- */
  
  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease;
  }

.navigation{
    position: fixed;
    width: 300px;
    height: 100%;
    background: var(--blue);
    border-left: 10px solid var(--blue);
    transition: 0.5s;
    overflow: hidden;
  }
  .navigation.active {
    width: 80px;
  }
  .navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  .navigation ul li {
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
  }
  .navigation ul li:hover,
  .navigation ul li.hovered {
    background: var(--white);
  }
  .navigation ul li:nth-child(1)
  {
    margin-bottom: 40px;
    pointer-events: none;
  }
  .navigation ul li a {
    position: relative;
  /*  display: block; */
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--white);
  }
  .navigation ul li:hover a ,
  .navigation ul li.hovered a
  {
    color: var(--blue);
  }
  .navigation ul li a .icon{
    position: relative;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
     padding-left: 10px;
  }
  .navigation ul li a .icon ion-icon {
    font-size: 1.55em;
  }
  .navigation ul li a .title{
    position: relative;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
  }
  /* curve outside */
  
  .navigation ul li:hover a::before,
  .navigation ul li.hovered a::before 
  {
    content: '';
    position: absolute;
    right: 0;
    top: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px var(--white);
    pointer-events: none; 
  }
  .navigation ul li:hover a::after,
  .navigation ul li.hovered a::after 
  {
    content: '';
    position: absolute;
    right: 0;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px var(--white);
    pointer-events: none; 
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch-toggle {
    display: none;
  }
  
  .switch-label {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 34px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .switch-toggle:checked + .switch-label {
    background-color: #66bb6a;
  }
  
  .switch-handle {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
  }
  
  .switch-toggle:checked + .switch-label .switch-handle {
    transform: translateX(26px);
  }
  