.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switchToggle {
    display: none;
  }
  
  .switchLabel {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 34px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .switchToggle:checked + .switchLabel {
    background-color: #66bb6a;
  }
  
  .switchHandle {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
  }
  
  .switchToggle:checked + .switchLabel .switchHandle {
    transform: translateX(26px);
  }
  